/*navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(239, 236, 236);
    position: fixed;
    top: 0;
    width: 100%;
    font: bold 2.5em "Fira Sans", monospace;
  }
  
  li {
    float: left;
    border-right: 1px solid rgb(250, 247, 247);
  }
  
  li a {
    display: block;
    color: rgb(183, 121, 167);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgba(214, 229, 77, 0.847);
  }
  
  .active {
    background-color: #4CAF50;
  }

  img {
    width: 50vw;
    align-items: center;
    justify-items: center;
    margin: 0;
    position: relative;
    margin-top: 100px;
    background-size: cover;
  }

  body {
    background-image: url("background.png");
    background-color: rgb(183, 121, 167);
   }

   div {
    display: flex;
    justify-content: center;
   }

   h1 {
    font: bold 4em "Fira Sans", monospace;
    color:  rgb(250, 247, 247);
    position: relative; top: -150px;
   }

   #animate {
    width: 100px;
    height: 100px;
    position: relative;
    left: 5vw;
    top: 0;
    animation-name: redmove;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: alternate-reverse;
   }

   p {
    font: bold 4em "Fira Sans", monospace;
    color:  rgb(250, 247, 247);
    position: relative; top: -50px;
   }

