
#first {
    color: blueviolet;
}

.title {
    font-size: 500%;
    color: red;
}

.thisisaclass {
    color: bisque;
}

html {
    background-color: aqua;
}

.divtest {
    background-color: chartreuse;
}